:root{
	--IsaPink: #FFC0E2;
	--IsaRed: #c4545c;
	--IsaLightPurple: #e7dcf6;
	--IsaDarkPurple: #64547c;
	--IsaBlue: #144c7c;
	--IsaYellow: #fcf3ca;
}



body{
	margin:0px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: var(--IsaPink);
	font-size: 1.25rem;
}

a{
	text-decoration: none;
	color: var(--IsaDarkPurple);

}

a:hover{
	color: var(--IsaRed);
}


.header{
	background-color: var(--IsaPink);

	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30px;
	position: sticky;
	top: 0;



}
.header > .logo{
	text-align: left;
}

.header > .links > a{
	min-width: 70%;
	text-align: right;
	text-decoration: none;

	font-size: 16px;
	margin-right:10px;
	
}

.header > .links > a:hover{
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--IsaRed);
}

.links > a{
	padding-right: 5px;
}

h1{
	font-family: 'Comfortaa', cursive;
	font-size: 3rem;
	color: var(--IsaRed);

}

h2{
	color: var(--IsaRed);
	font-size: 2.5rem;
}

.intro{
	background-color: var(--IsaPink);
	padding-bottom: 10px;

	border-bottom:dotted var(--IsaRed);
}

.maincontent{
	background-color: white;

}

.musicrec{
	padding:10px;
}

.buttons{
	padding: 10px;
}

.aboutcontainer{
	display: flex;
	width: 100%;



	gap:10px;
	align-items: center;
	justify-content: center;

}

.abouttxt{
	
	border: dotted 3px var(--IsaPink);
	border-radius: 20px;
	min-block-size: 250px;	

	padding: 20px;
	margin: 10px;
}

.footer{
	background-color: var(--IsaPink);
	height: 30px;
	padding: 10px;
}

.aboutbuttons{
	display: inline-block;
	
	gap: 10px;
	padding: 10px;
}

.buttons{
	display: flex;
}

button{
	background-color: transparent;
	font-size: 1.25rem;
	border-radius: 12px;
	border:solid 3px var(--IsaDarkPurple);
	color:var(--IsaDarkPurple);
}

button:hover{
		border:solid 3px var(--IsaRed);
		color:var(--IsaRed);
}



#referenceimg{
	width: 50%;
	height:auto;
}

@media(max-width:800px){
	.profileimg{
		display: none;
	}
}

@media(max-width: 600px){
	.profileimg{
		display: none;
	}

	.musicrec{
		width: 280px;
		height: 157px;
	}

	#referenceimg{
	width: 100%;
	height:auto;
}


}